<div class="space-y-2">
  <% if label %>
    <label for="<%= input_id %>" class="<%= label_classes %>">
      <%= label %>
      <% if required %>
        <span class="text-destructive">*</span>
      <% end %>
    </label>
  <% end %>
  
  <%= text_field_tag(
    name,
    value,
    type: type,
    id: input_id,
    class: input_classes,
    placeholder: placeholder,
    required: required,
    aria: {
      invalid: error.present?,
      describedby: display_text.present? ? "#{input_id}-description" : nil
    },
    **html_options.except(:class, :id)
  ) %>
  
  <% if display_text %>
    <p id="<%= input_id %>-description" class="<%= helper_or_error_classes %>" role="<%= error ? 'alert' : nil %>">
      <%= display_text %>
    </p>
  <% end %>
</div>

